<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_at %><br />
    <%= f.form_field_at :start_at %>
  </div>
  <div class="field">
    <%= f.label :finish_on %><br />
    <%= f.form_field_on :finish_on %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
