<p id="notice"><%= notice %></p>

<p>
  <b>Start at:</b>
  <%= @event.start_at %>
</p>

<p>
  <b>Finish on:</b>
  <%= @event.finish_on %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
